.menuSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuSectionHeading {
    color: var(--black);
    padding-top: 20px;
    text-align: center;
    font-size: 5.6rem;
}

.menuSectionSubHeading {
    color: var(--orange);
    text-align: center;
}

.menuSectionTextContainerParent {
    width: 100%;
    background-image: url('../../assets/images/thaiDish1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.menuSectionTextContainer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    gap: 20px;
    padding: 0 20px;
    max-width: var(--maxWidth);
}

.menuSectionCard {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 20px;
    width: 50%;
    background: rgba(108, 100, 100, 0.55);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.9px);
    -webkit-backdrop-filter: blur(9.9px);
    height: fit-content;
    margin: 100px 0;
}   

.menuSectionItemContainer {
    border: 1px solid var(--black);
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}

.menuSectionCard h3 {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 15px;
    color: var(--white);
}

.menuItemContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.menuItemContainer > span:first-child{
    width: 80%;
    color: var(--white);
}

.menuItemContainer span{
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 5px;
    color: var(--white);
}

.menuItemDescriptionContainer {
    padding-bottom: 10px;
}

.menuItemDescriptionContainer p {
    font-size: 1.2rem;
    color: var(--white);
}

.menuItemALaCarte {
    font-size: 1.4rem;
}


@media screen and (max-width: 925px) {
    .menuSectionTextContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menuSectionCard {
        gap: 20px;
        width: 100%;
        margin: 0;
    }  
}

@media screen and (max-width: 425px) {

    .menuSectionSubHeading {
        font-size: 2rem;
    }

    .menuItemDescriptionContainer p {
        font-size: 1rem
    }

    .menuItemContainer span{
        font-size: 1.2rem;
    }

    .menuSectionCard h3 {
        font-size: 1rem;
    }
}