.aboutSectionContainer {
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 100px;
    padding: var(--padding);
    background: var(--beige);
}

.aboutSectionHeading span{
    color: var(--orange);
    font-size: 4.6rem;
}

.aboutSectionText {
    display: flex;
    align-items: center;
    gap: 10px;
}