.contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactSectionHeader {
    width: 100%;
    max-width: 50%;
    text-align: center;
    background: rgba(108, 100, 100, 0.55);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.9px);
    -webkit-backdrop-filter: blur(9.9px);
    border-radius: 8px;
}

.contactSectionHeader h1 {
    color: var(--orange);
    padding: 30px 0;
}

.contactSectionHeader p {
    font-size: 1.8rem;
    padding: 5px 0;
    color: var(--white);
}

.contactSectionHeader p + p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.contactHoursMapSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    background-image: url('../../assets/images/thaiDish1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 120px 0;
    border-top: 1px solid var(--white);
}

.contactHoursMapSectionline {
    height: 5px;
}

.mapContainer {
    width: 100%;
    max-width: 600px;
    height: 400px;
    padding: 20px;
    border-radius: 8px;
    background: rgba(108, 100, 100, 0.55);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.9px);
    -webkit-backdrop-filter: blur(9.9px);
}

.mapContainer iframe{
    border: 0;
}

.contactHours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    color: var(--white);
    background: rgba(108, 100, 100, 0.55);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.9px);
    -webkit-backdrop-filter: blur(9.9px);
}

.contactHours span{
    font-size: 1.8rem;
}

@media screen and (max-width: 925px) {
    .contactSectionHeader {
        max-width: 100%;
        margin: 20px;
    }

    .mapContainer {
        max-width: 100%;
        margin: 20px;
    }
   
}